<% include partials/top %>


<form method="POST" action="/articles/edit/<%=article._id%>" class="form-group">
    <label for="">Title:</label>
    <input type="text" name='title' class="form-control" value="<%= article.title%>" >
    <label for="">Author:</label>
    <input type="text" name='author' class="form-control" value="<%= article.author %>">
    <label for="">Details</label>
    <textarea class="form-control" name='body'><%= article.body %></textarea>
    <br>
    <input type="submit" value="Submit">
    
</form>






<% include partials/bottom %>